[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "==0.27.1"
pydantic = "*"
python-dotenv = "==1.0.1"
bcrypt = "==4.1.2"
sqlalchemy = "*"
alembic = "==1.13.1"
fastapi-crudrouter = "*"
sqlmodel = "*"

[dev-packages]

[requires]
python_version = "3.9"
